In [5]:
import pandas as pd

# Churn data set - Ad hoc binarization for CORELS

In [6]:
file_name = 'data/churn_prob_out_35.csv' 
ROW_LIMIT = None # 10000
expected_data_type = {
    'CHURN': 'object'
    }

def discretize( x, bins=3 ):
    classes = [ (k / (bins-1)) for k in range(bins-1) ] + [1.0]
    diffs = [ abs(x-k) for k in classes ]
    # print(diffs)
    arg_min = diffs.index(min(diffs))
    return classes[arg_min]

def convert_label(char, pos_value='T'):
    if (char == pos_value):
        return 1
    else:
        return 0

def greater_than(number, ref=0):
    if (number >= ref):
        return 1
    else:
        return 0

# def discretize_float( column, min_float, max_float, step_size ):

## Read data

In [7]:
df = pd.read_csv(file_name, nrows=ROW_LIMIT)
print('Read {} rows from {}.'.format(len(df), file_name))

df.info(verbose=True)
df.head()

Read 1799 rows from data/churn_prob_out_35.csv.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1799 entries, 0 to 1798
Data columns (total 13 columns):
CHURN         1799 non-null object
Gender        1799 non-null object
Status        1799 non-null object
Children      1799 non-null int64
Est Income    1799 non-null float64
Car Owner     1799 non-null object
Age           1799 non-null float64
Paymethod     1799 non-null object
Usage         1799 non-null float64
RatePlan      1799 non-null int64
pChurn        1799 non-null float64
3_Class       1799 non-null float64
5_Class       1799 non-null float64
dtypes: float64(6), int64(2), object(5)
memory usage: 182.8+ KB

,CHURN,Gender,Status,Children,Est Income,Car Owner,Age,Paymethod,Usage,RatePlan,pChurn,3_Class,5_Class
0,T,F,S,1,38000.00,N,24.393333,CC,229.64,3,0.786023,1.0,0.75
1,F,M,M,2,29616.00,N,49.426667,CH,75.29,2,0.253980,0.5,0.25
2,F,M,M,0,19732.80,N,50.673333,CC,47.25,3,0.533273,0.5,0.50
3,F,M,S,2,96.33,N,56.473333,CC,59.01,1,0.627711,0.5,0.75
4,F,F,M,2,52004.80,N,25.140000,CH,28.14,1,0.165228,0.0,0.25

In [8]:
# print(min(df['Est Income']))
col = 'Usage'
print(min(df[col]), max(df[col]))

col = 'Est Income'
for y in range(30000, 120000, 30000):
    df[col + ' <= ' + str(y)] = df[col].apply(lambda x: int(x <= y))
    df[col + ' >= ' + str(y)] = df[col].apply(lambda x: int(x >= y))

col = 'Age'
for y in range(30, 90, 30):
    df[col + ' <= ' + str(y)] = df[col].apply(lambda x: int(x <= y))
    df[col + ' >= ' + str(y)] = df[col].apply(lambda x: int(x >= y))

col = 'Usage'
for y in range(30, 180, 30):
    df[col + ' <= ' + str(y)] = df[col].apply(lambda x: int(x <= y))
    df[col + ' >= ' + str(y)] = df[col].apply(lambda x: int(x >= y))

col = 'Gender'
pos_val = 'F'
df[col + ' = ' + pos_val] = df[col].apply(convert_label, pos_value=pos_val)

col = 'Car Owner'
pos_val = 'Y'
df[col + ' = ' + pos_val] = df[col].apply(convert_label, pos_value=pos_val)

for col in ['Status', 'Children', 'Paymethod', 'RatePlan', '3_Class']:
    for v in df[col].unique():
            df[col + ' = ' + str(v)] = df[col].apply(lambda x: int(x == v))



# df['Est Income <= 30000'] = df['Est Income'].apply(lambda x: int(x >= 30000))

# print(df.columns)

binary_columns = ['Est Income <= 30000', 'Est Income >= 30000', 'Est Income <= 60000',
       'Est Income >= 60000', 'Est Income <= 90000', 'Est Income >= 90000',
       'Age <= 30', 'Age >= 30', 'Age <= 60', 'Age >= 60', 'Usage <= 30',
       'Usage >= 30', 'Usage <= 60', 'Usage >= 60', 'Usage <= 90',
       'Usage >= 90', 'Usage <= 120', 'Usage >= 120', 'Usage <= 150',
       'Usage >= 150', 'Gender = F', 'Status = S', 'Status = M', 'Status = D',
       'Car Owner = Y', 'Children = 1', 'Children = 2', 'Children = 0',
       'Paymethod = CC', 'Paymethod = CH', 'Paymethod = Auto', 'RatePlan = 3',
       'RatePlan = 2', 'RatePlan = 1', 'RatePlan = 4', '3_Class = 1.0']

df = df[binary_columns]
df.info()
df.head()

df.to_csv('data/churn4CORELS.csv', index=False)

0.68 361.88
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1799 entries, 0 to 1798
Data columns (total 36 columns):
Est Income <= 30000    1799 non-null int64
Est Income >= 30000    1799 non-null int64
Est Income <= 60000    1799 non-null int64
Est Income >= 60000    1799 non-null int64
Est Income <= 90000    1799 non-null int64
Est Income >= 90000    1799 non-null int64
Age <= 30              1799 non-null int64
Age >= 30              1799 non-null int64
Age <= 60              1799 non-null int64
Age >= 60              1799 non-null int64
Usage <= 30            1799 non-null int64
Usage >= 30            1799 non-null int64
Usage <= 60            1799 non-null int64
Usage >= 60            1799 non-null int64
Usage <= 90            1799 non-null int64
Usage >= 90            1799 non-null int64
Usage <= 120           1799 non-null int64
Usage >= 120           1799 non-null int64
Usage <= 150           1799 non-null int64
Usage >= 150           1799 non-null int64
Gender = F             1799 non-null int64
Status = S             1799 non-null int64
Status = M             1799 non-null int64
Status = D             1799 non-null int64
Car Owner = Y          1799 non-null int64
Children = 1           1799 non-null int64
Children = 2           1799 non-null int64
Children = 0           1799 non-null int64
Paymethod = CC         1799 non-null int64
Paymethod = CH         1799 non-null int64
Paymethod = Auto       1799 non-null int64
RatePlan = 3           1799 non-null int64
RatePlan = 2           1799 non-null int64
RatePlan = 1           1799 non-null int64
RatePlan = 4           1799 non-null int64
3_Class = 1.0          1799 non-null int64
dtypes: int64(36)
memory usage: 506.1 KB